@import '../../../../App.scss';

.header {
    height: 30px;
    padding: 10px 30px 10px 30px;
    background-color: $black-gray;

    .title {
        font-size: 20px;
        cursor: pointer;
        color: $white;
    }
}