$primary-background: #230312;
$white: #FFFFFF;
$black: #000000;
$black-gray:  #303234;
$dark-gray: #d3d3d3;
$gray: #e0e0e0;
$light-gray: #f9f9f9;
$dark-purple: #35051b;
$dark-red: #ce4848; 
$red: #e39595; 
$light-red: #ebb4b4;

$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;

